/**
 * Styling for layout object blocks
 *
 * General blocks for layouting homepage elements, are used either inside
 * Foundation's .row.columns or outside .row .columns depending if we full-width
 * elements or not
 *
 * 1) Remove the margin-bottom from all of the last children
 *  1a) ...and remove margin-bottom from all last children inside of the last
 *       column inside a row.
 */

.o_block {
     padding-top: map-get($my-spacing, large); // 40px
  padding-bottom: map-get($my-spacing, large); // 40px

  & > *:last-child, /* [1] */
  & > .row:last-child > .columns:last-child > *:last-child { /* [1a] */
    margin-bottom: 0;
  }
}

.o_block--tiny {
     padding-top: map-get($my-spacing, small); // 10px
  padding-bottom: map-get($my-spacing, small); // 10px
}

.o_block--small {
     padding-top: map-get($my-spacing, medium); // 20px
  padding-bottom: map-get($my-spacing, medium); // 20px
}

.o_block--medium-small {
     padding-top: map-get($my-spacing, medium-large); // 30px
  padding-bottom: map-get($my-spacing, medium-large); // 30px
}

.o_block--medium-large {
     padding-top: map-get($my-spacing, x-large); // 60px
  padding-bottom: map-get($my-spacing, x-large); // 60px
}

.o_block--large {
     padding-top: map-get($my-spacing, x-large); // 60px
  padding-bottom: map-get($my-spacing, x-large); // 60px

  @include breakpoint(medium) {
       padding-top: map-get($my-spacing, xx-large); // 80px
    padding-bottom: map-get($my-spacing, xx-large); // 80px
  }
}

.o_block--huge {
     padding-top: map-get($my-spacing, xx-large); // 80px
  padding-bottom: map-get($my-spacing, xx-large); // 80px

  @include breakpoint(medium) {
       padding-top: map-get($my-spacing, xxx-large); // 160px
    padding-bottom: map-get($my-spacing, xxx-large); // 160px
  }
}

.o_block--massive {
     padding-top: map-get($my-spacing, xxx-large); // 160px
  padding-bottom: map-get($my-spacing, xxx-large); // 160px

  @include breakpoint(medium) {
       padding-top: map-get($my-spacing, massive); // 200px
    padding-bottom: map-get($my-spacing, massive); // 200px
  }
}

.o_block--pt-0 {
  padding-top: 0;
}

.o_block--pb-0 {
  padding-bottom: 0;
}
