/**
 * Header thing component
 *
 * 1) Only show the bg image and blend mode if blend mode supported
 *     (use modernizr to check).
 */

.c_header-thing {
  display: flex;
  align-items: flex-end;
  padding-bottom: my-spacing(x-large);
  background-size: cover;
  background-position: center top;
  height: 300px;
  background-color: my-color(yellow);
  transition: padding 1s ease 99999s;
  font-size: rem-calc(18);

  @include breakpoint(medium) {
    font-size: rem-calc(22);
    height: 500px;
    padding-bottom: my-spacing(xx-large);
  }

  .o_cta {
    &:hover, &:focus, &:active {
      background-color: my-color(greyscale, black);
      border-color: my-color(greyscale, black);
      color: my-color(greyscale, white);
    }
  }

  .mod_backgroundblendmode & { /* [1] */
    background-blend-mode: screen;
    background-image: url("../assets/img/swag.jpg");
  }
}

.c_header-thing--full {
  display: flex;
  align-items: center;
  padding: rem-calc(40) rem-calc(20);
  min-height: 100vh;
}
