/* .c_logo */


  .c_logo__preface {
    font-style: italic;
  }


  .c_logo__mark {
    width: rem-calc(260);
    height: rem-calc(36);

    @include breakpoint(medium) {
      width: rem-calc(550);
      height: rem-calc(77);
    }
  }
