.c_logo {
  font-size: 1.5rem;
  margin-bottom: 0;

  @include breakpoint(medium) {
    font-size: 3rem;
  }
}


  .c_logo__preface {
    display: inline-block;
    margin-bottom: 10px;
    font-style: italic;
    font-weight: 300;
    font-size: 1em;

    &, &:hover, &:focus, &:active {
      color: my-color(greyscale, black);
    }
  }


  .c_logo__mark {
    width: 11.45em;
    height: 1.6em;
  }

  .c_logo--small {
    @include breakpoint(medium) {
      font-size: 1rem;
    }
  }
