/**
 * Horizontal list object
 *
 * Makin' all those lists take a lie down.
 *
 * 1) Here we set styles for all list items, and then remove it for the last
 *     child. We could use :not(:last-of-type) but this increases specificity
 *     which is a crime of the highest order with objects...
 *  1a) ...so we just remove it from those at the end here.
 */

.o_horizontal-list {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;

  padding: 0;
  margin: 0;
  list-style-type: none;

  & > li { /* [1] */
    margin-right: rem-calc(20);

    &:last-of-type { /* [1a] */
      margin-right: 0;
    }
  }
}

.o_horizontal-list--line {
  & > li { /* [1] */
    padding-right: rem-calc(20);
    border-right: 1px solid my-color(greyscale, steel);

    &:last-of-type { /* [1a] */
      padding-right: 0;
      border-right: 0;
    }
  }
}
