/**
 * Mixin for handling FontAwesome pseudo elements
 *
 * 1) $symbol is for unicode char (e.g.: '\f105').
 * 2) $pseudo is for whether it is a ':after' or ':before'.
 * 3) if $size is parsed, adjust the font-size of the pseudo element. Use em's
 *      for this to size relative to the parent font-size.
 * 4) if $color is parsed, set the color for the pseudo element.
 * 5) if $margin is parsed, set the margin for the pseudo element.
 * Note: we interpolate this so that it removes quotation marks.
 * 6) We wanna make sure that all icons have the same font-weight. Seen a lot,
 *     that this needs to be overwritten
 */

@mixin pseudo-awesome($symbol, $pseudo, $size:null, $color:null, $margin:null) { /* ([1], [2], [3], [4], [5]) */
  &#{$pseudo} { /* [2] */
    content: $symbol; /* [1] */
    font-family: FontAwesome;
    font-weight: 400; /* [6] */
    @if ($size) { font-size: #{$size}em; } /* [3] */
    @if ($color) { color: #{$color}; } /* [4] */
    @if ($margin) { margin: #{$margin}; } /* [5] */
  }
}
